
.AddChatContainer{    
    background-color: #4070f4;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
    

}


.AddChatContainer svg{
    cursor: pointer;
    width: 2rem;
    margin-right: 1rem;
    height: 50%;
    
}