
.AddContactContainer{    
    background-color: #fefefe;
    margin-top: 0px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid rgba(31, 50, 73, 0.8);
    

}


.AddContactContainer p{
  font-size: medium;
  font-weight: 400;
  color: black;
  text-align: left;
  margin-left: 10px;
    
}