.Messaggi{
    background-color: white;
    padding: .5rem;
    display: inline;
    margin-top: 1rem;
}

.Messaggi p:last-child{
    margin-top: .2rem;
    font-size: .6rem;
    color: rgb(133, 133, 133);
}

 .MessaggiLeft{
    border-radius: 7px;
    border-top-left-radius: 0px;
    margin-left: 1rem;
    margin-right: 20rem;
    align-self: start;
}

.MessaggiRight{
    border-radius: 7px;
    border-top-right-radius: 0px;
    margin-right: 1rem;
    margin-left: 20rem;
    align-self: end;
} 
